footer{
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 93%;
    height: 100px;
    z-index: 1;
    background-color: rgb(29, 27, 27);
}

footer a{
    width: 200px;
    height: 75px;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

