<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/Main.css">
    <link rel="stylesheet" href="../static/css/grid.css">
    <title>Cadastro de Jogos</title>
</head>
<body>
    <div id='container'>
        <form action="cadastrar" method="POST" enctype="multipart/form-data">
            <label for="name">Game Name</label>
            <input type="text" name="name" placeholder="Game name">
            <label for="nota">Game Grade</label>
            <input type="number" name="nota" placeholder="Game grade" min=0 max="10">
            <label for="infoText">Game Description</label>
            <input type="text" name="infoText" placeholder="Description">
            <label for="img">Game Thumbnail</label>
            <input type="file" name="img">
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>